/* ==========================================================================
	About / Contact
============================================================================= */	

.about {
	@extend %clearfix;
	
	figure {
		float: right;
		
		img {
			max-width: 300px;
		}
	}
}


.contact {
	background: #f1f1f1;
}