/* ==========================================================================
	About / Contact
============================================================================= */	

.about {
	@extend %clearfix;
	
	figure {
		margin: 1em 0;
		
		@include bp-m {
			float: right;
			margin: 1em 40px;
		}
		
		img {
			max-width: 300px;
		}
	}
}


.contact {
	background: #f1f1f1;
}