/* ==========================================================================
	About / Contact
============================================================================= */	

.about {
	@extend %clearfix;
	position: relative;
	top: -75px;
	margin-bottom: -210px;
	background: #fff;
	z-index: 3;
	transform: skewY(-3deg);
	
	@include bp-l {
		top: -50px;
		margin-bottom: -90px;
	}
	
	.container {
		transform: skewY(3deg);
	}
		
	figure {
		margin: 1em 0;
		
		@include bp-m {
			float: right;
			margin: 1em 40px;
		}
		
		img {
			max-width: 300px;
		}
	}
}


.contact {
	background: #f1f1f1;
}