/* ==========================================================================
	Header
============================================================================= */	

header {
	padding: 1em;
	background: url('../img/bg_header-small.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	@extend %clearfix;
	
	@include bp-m {
		padding: 1em 0 8em;
	}
	
	@include bp-l {
		background: url('../img/bg_header.png');
		background-size: 100% auto;
		background-attachment: fixed;	
	}
	
	@include bp-xl {
		background-position: 0 -210px;			
	}
	
	.logo {
		float: left;
		width: 80px;
		height: 80px;
		background: url('../img/eh-logo.png') no-repeat;
		background-size: 80px 80px;
		@extend %ir;
	}	

	.hero {
		float: left;
		width: 100%;
		margin: 3em 0 2em;
		text-align: center;
		color: rgba(255, 255, 255, .9);
		@extend %clearfix;
		
		@include bp-m {
			margin: 6em 0 0;
		}
		
		h1 {
		
			@include bp-m {
				font-size: 6em;				
			}
			
			span {
				position: relative;
				transition: all .2s;
				
				&:first-child {
					right: 0;
				}
				
				&:last-child {
					left: 0;
				}
			}
			
			&:hover {
				
				span {
					
					&:first-child {
						right: .25em;
					}
					
					&:last-child {
						left: .25em;
					}
				}
			}
		}
		
		p {
			font-size: 1.2em;
		}
		
	}

}


/* Navigation ---------------------------------------------------- */

nav {
	float: right;
	
	@include bp-m {
		margin: 1.5em 0 0;
	}
	
	ul {
		margin: 0;
		list-style-type: none;
	}
	
	li {
		text-align: right;
		
		@include bp-m {
			margin: 0 1em;
			float: left;
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	a { 
		font-weight: 700;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
	}
	
}